<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="DS_CLIENT_ID" value="d94f79aa-48d0-4f60-938b-dc7d9e561e47" />
    <add key="DS_IMPERSONATED_USER_GUID" value="946703c1-a147-4f02-989f-d3b0a3250b2e" />
    <add key="DS_TARGET_ACCOUNT_ID" value="FALSE" />
    <add key="DS_SIGNER_1_EMAIL" value="silvio.souza@grupomult.com.br" />
    <add key="DS_SIGNER_1_NAME" value="Silvio Souza" />
    <add key="DS_SIGNER_1_FULLNAME" value="Silvio Souza" />

    <add key="DS_SIGNER_2_EMAIL" value="silvioj.souza@gmail.com" />
    <add key="DS_SIGNER_2_NAME" value="Silvio Jose de Souza - Gmail" />
    <add key="DS_SIGNER_2_FULLNAME" value="Silvio Jose de Souza-Gmail" />

    <add key="DS_SIGNER_3_EMAIL" value="silvio.souza@mrv.com.br" />
    <add key="DS_SIGNER_3_NAME" value="Silvio MRV" />
    <add key="DS_SIGNER_3_FULLNAME" value="Silvio Jose - MRV" />
    
    <add key="DS_CC_1_EMAIL" value="silvio.j.souza@gmail.com" />
    <add key="DS_CC_1_NAME" value="Silvio GMail" />
    <add key="DS_AUTH_SERVER" value="https://account-d.docusign.com"/>
    <add key="WebHookUrl" value="https://appwebpocwebhook.azurewebsites.net/api/contratodigital/atualizastatus"/>

    <add key="DS_PRIVATE_KEY" value="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAijj6ti5S07493cvdtE+3YcJkjPZBCvSFEIqENoU8NAb0OzeJ
QO3Ph5cu758Lz7PjtR8wdn4BzWR3sHQI56efNt2Y3NVMDSQfXejt2nGD1/jPX9jn
tmqBQWOoGWjPXHTYM+KlMM9uy2ZulhT9JKL59CoYcRyg1hGp5aUgpmiBaS9BMR5N
MU8yLOdU/lYwRDnry7jLCaQcL6irNnPyd9QubiJxNSO9sBHuYwge7x5ySwKASAJK
EKn88kHmpxs3CCZb1mb1j/GvZEOI4vy/iz8ad5g43Uw6/R3Aa7XRpzBRrH8L+wmo
Q+jW/5pS95m+oCkoUZVFN9BfihPIiZuyXfw3xwIDAQABAoIBAA2U1rGi8JmEpmCO
QQ0QDiVJbAbbxX1VlGORMLeItOcpzcKpzM837r3UcZSy7H6uns+zrlfePsAXQJly
dVOJyV+jO3tra+sYowpfsktV/w3wETRKRE5MvcGWkLRac5GSm5HRkcivgSP0PyZ5
DnyUlPnUTw2CMh2Go8qARKqFNz4F9SFrWgc7XTtpfUjUkKp00M9sHQ3ZIytEbbAs
xcDEM7UL6jKyOfQUopetOjtti73/Uq460BO4du/0qpRpPOC6Kzi/jDR/S3uzGEkM
yv1JUl5BmMU0oZIXiHrc1yALFbZWQRRkEjG4W7B2yGiZMCVHo88mtln3ImuSWTdb
MlKiKBkCgYEAxLhYqzwp+saOUVNEcUxl47O2IrY9K6sSSPEUhuVZn+y8yt6AVf18
X2SDertBmabal2ASGQ+ikCZO+KG255Wl78R7Ra/mVtwW/MpIG24QswK0WEZp2Qe+
8fdrDVUgmrgjyUKNokAT6Crbi0xF88wwIePNOD47EPitF6wZIZ3VlN8CgYEAs9/v
nZnkk6jJ7fgo1/P5CFe9dyuzEag+VEDctbaJuV729o8SsTYrJf1kbIUhRvBSvQPJ
YPJgtSc9yU34n5gRY7R3d1egU73hIh/wF7KMBSj/+5c0zYuom6v+1gQYHNQyQczu
pxG+amAqdeD47GHYgJVRC4llbU9bpcP9ssR3EhkCgYAsQazxGR/4oyLxeOI0+xMR
HyUiug0Y/eunLVWI46A+Mmxm15fXwKdybpKF0gr4HmmfFKX9rV7NP1EU7ozPnQMv
5ew1yVTwxaMGTBvcz+5B16HrGixF/1Ad76PN5BDpvfOPG8HxdqkD2mB5/jbemllZ
xn4s4RM4xjlq0fT1cyTR0QKBgC6lHLsu5EKSW8MVPmo5/1N1hVF5CJfEnF028MVC
j9Z9VOe9VGiWFnxkiH1HzMhbm+keKUO1tvRjN7eTO60PPzsu2mgdVhtBOzehNp6+
k2bnKfKxVGUVGWU9JfmT2DjpohrELQMwK8PkKj6lV4fdG8rEbd7jA2VkVezXtVt9
bS9JAoGBALyvjHC8mAiVy5SsCW8uhjeHZICk2iCWKznwxF9XW7fIYlCqNDZBE6A2
1FRIE1DC7EHGIUmrej8wq+qyP3U3JUCp9uOPfw6x6/pyk7fQvfpXJjIhWNVq6HO/
cPfr7sNI7FIem5tDLJMJPNLCYwJ/Y4KHEw29nMbW2qtNn+tSHzmh
-----END RSA PRIVATE KEY-----" />
  </appSettings>
</configuration>
